.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

.Header {
  font-size: large;
  min-width: 42em;
}

.Connect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
